.event-list{
    padding : 20px 50px;
}
.example input {
    padding: 10px;
    font-size: 11px;
    border: 1px solid grey;
    width: 300px;
    background: #f1f1f1;
  }
  .example{
      padding: 20px;
  }